#oi{
    background-color: rgb(32, 32, 32);
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 208px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    color:white
    
}   
body{
    background: rgb(78,37,106);
    background: linear-gradient(90deg, rgba(78,37,106,1) 0%, rgba(136,53,145,1) 25%, rgba(131,111,167,1) 63%, rgba(112,124,181,1) 81%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}
h1{
    text-align: center;
    
}
button{
    background-color:white;
    font-size:20px;
    margin-bottom: 20px;
}